* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Advent Pro";
}

body {
  /* background-image: url(imgs/mlr6copulto71.jpg); */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-color: #151619;
  height: 100vh;
  overflow: hidden;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  justify-content: center;
  align-items: center;
  width: 40%;
  left: 0;
  height: 100vh;
  /* background: #00000059; */
  background-color: #0a090a;
  backdrop-filter: blur(7px);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  width: 100%;
  margin: 16px 0;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background: #212022;
  color: white;
}

form input:focus {
  outline: none;
}

form input::placeholder {
  font-size: 16px;
}

.form-title {
  color: white;
  font-size: 45px;
  padding: 20px;
}

.input-title {
  color: white;
}

.submit-btn {
  display: flex;
  position: relative;
  align-self: center;
  margin: 2rem;
  color: #000;
  background-color: #5500ff;
  font-family: "Segoe UI";
  color: white;
  border-radius: 30px;
  padding: 12px 10px;
  width: 115px;
  font-size: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.submit-btn:hover {
  filter: brightness(110%);
  transform: translateY(-1px);
}

.submit-btn i {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 15px;
  background-image: url("https://img.icons8.com/ios/30/000000/arrow--v1.png");
  background-position: center;
  background-size: cover;
}

.help {
  font-family: "Segoe UI";
  color: white;
}

.help a {
  text-decoration: none;
  color: #5500ff;
  font-weight: normal;
}

@media screen and (max-width: 1120px) {
  .form-container {
    width: 60%;
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (max-width: 930px) {
  .form-container {
    padding: 5rem 1rem;
  }
}

@media screen and (max-width: 650px) {
  .form-container {
    width: 100%;
  }
}
